@charset "ISO-8859-1";

.seatImage{
	width: 420px;
	height: 260px;
	border-radius: 10px;
	border: 5px solid orange;
}

.header{
	color: black;
	text-align: center;
	padding-top: 10px;
}

.input-group{
	padding-left: 40%;
	text-align: center;
	padding-top: 30px;
	
}